/* 
RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 650px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.active {
    background-color: #E8EBEB !important;
}

/* 
TIPHOGRAPHY SYSTEM
-COLORS

*/
